body{
    background-color: rgb(240,128,128);
    margin: 0;
}
h1, h2{
    font-family: 'Handlee', cursive;
}
p{
    font-family: 'Open Sans', sans-serif;
}
#hero{
    height: 100vh;
    background-image: url(images/flower.jpg);
    background-size: cover;
    background-position: center center;
}
#music iframe{
    width: 100%;
    border: 10px solid;
    border-color: white;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
nav{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    
}
nav li{
    display: inline-block;
    padding: 10px;
}
#hero h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin: 0;
    color: white;
}
@media(max-width:700px){
    #hero h1{
        font-size: 60px;
    }
}
h2{
    border: 3px dotted;
    border-color: white;
    
    
}